/* **************** Fluid Text **************** */
/* todo: https://utopia.fyi/type/calculator/ */
:root {
  /* ? Customize ? */
  --step--2: clamp(0.74rem, 0.75rem + -0.05vw, 0.7rem);
  --step--1: clamp(0.89rem, 0.87rem + 0.07vw, 0.94rem);
  --step-0: clamp(1.06rem, 1.01rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.28rem, 1.17rem + 0.53vw, 1.67rem);
  --step-2: clamp(1.53rem, 1.34rem + 0.94vw, 2.22rem);
  --step-3: clamp(1.84rem, 1.53rem + 1.52vw, 2.96rem);
  --step-4: clamp(2.2rem, 1.73rem + 2.36vw, 3.95rem);
  --step-5: clamp(2.64rem, 1.93rem + 3.55vw, 5.26rem);
}

/* **************** Custom Properties **************** */
:root {
  --first-color: #000000;
  --second-color: #4d91ff;
  --third-color: #fa5560;
  --fourth-color: #b14bf4;
  --fifth-color: #7857ff;
  --dark-color: #191825;
  --white-color: #ffffff;
}
:root {
  --max-width: 800px;
}

/* **************** Reset **************** */
/* ? Html */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ? Body */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--first-color);
  color: var(--white-color);
}

/* ? Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--white-color);
}

/* ? Media */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ? Lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ? Links */
a {
  text-decoration: none;
  color: var(--third-color);
}

/* ? Paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* **************** Components **************** */
/* ? Title */
.title {
  font-size: var(--step-5);
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

/* ? Error */
.error {
  display: inline-block;
  font-size: var(--step-2);
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* **************** Utilities **************** */
/* ? Radian Color */
.rad-color {
  background-color: var(--fifth-color);
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -23.47%,
    #b14bf4 45.52%,
    #4d91ff 114.8%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rad-color-error {
  background-color: var(--third-color);
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -23.47%,
    #eb455f 45.52%,
    #b3005e 114.8%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ? Completed */
.completed span,
.completed p {
  text-decoration: line-through;
  color: var(--second-color);
}

/* **************** Site Styles **************** */

/* ? Todo */
.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}
.todoTitle {
  font-size: var(--step-4);
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

/* ? Todo Tasks */
.todoTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
}

@media screen and (min-width: 550px) {
  .todoTasks span {
    width: 350px;
  }
}

/* ? Confetti */
.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
